
.links{
    background-color: #162447;
    color: white;
    border: 1px solid black;
    border-radius: 12px;
    width: 100%;
    height: auto;
    padding: 25px;
    
}
.links a{
    color: white;
    font-size:20px;
}
.links i{
    font-weight: 900;
    
}
.links Table{
    border: none;
    color: white;
    margin-top: 10%;
    margin-left: 8%;
}
.links table tr{
    border: #162447;
}

@media screen and (max-width: 851px){
  
   
    
    .links{
        width: 73%;
        margin-left: 14%;
        margin-top: 4%;
        height: auto;
    }
}

@media only screen and (min-width: 280px) and (max-width:653px){
    .links i{
        font-weight: 100;
        font-size: 40;
        
    }
    .links a{
        font-size:15px;
    }
}
@media only screen and (min-width: 760px) and (max-width:1023px){
    .links a{
        font-size:35px;
    } 
}