table{
  width:65%;
  font-weight: 600;
  overflow: hidden;
  margin-left:auto;
  margin-right:auto;
  display: block;
  }
  .icons{
    width:10%;
    overflow: hidden;
  }
.virtualtable{
  font-size: large;
  font-weight: 600;
  overflow: hidden;
}

.iframe{
  overflow: hidden;
  width: 100%;
  margin-top: 5%;
}
 

  .para{
    overflow: hidden;
    font-weight: 600;
  }

.contactline{
  overflow: hidden;
  background-color: black;
  width: 1px;
  height: 100%;
  font-weight: 100;
}
  input[type=text], select {
    overflow: hidden;
    padding: 8px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .ip{
    overflow: hidden;
    width: 100%;
  }
  
  .subject{
    overflow: hidden;
    width: 66%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  textarea{
    overflow: hidden;
    width: 66%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
  }
  
  .button {
    overflow: hidden;
    background-color:#162447;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  .button:hover{
    background-color: white;
    border: 1px solid #162447;
    font-weight: 600 ;
    color: black;
    transition: 0.8s;
    overflow: hidden;
  }
  
  @media screen and (max-width: 851px){
    textarea{
      width: 100%;
    }
    .subject{
      width: 100%;
    }
    .sec_sp{
      width:80%;
      margin-left: auto;
      margin-right:auto;
      display:block;
    }
    .button{
      margin-left: auto;
      margin-right:auto;
      display:block;
    }
  }
  @media only screen and (min-width: 912px) and (max-width:1100px){
    table{
      margin:0;
    }
    .sec_sp{
      width:100%;
    }
    textarea{
      width: 100%;
    }
    .subject{
      width: 100%;
    }
  }
  @media only screen and (min-width: 280px) and (max-width:653px){
    table{
      width:100%;
    }
  }
  @media only screen and (min-width: 768px) and (max-width:1100px){
    .virtualtable{
      font-size: 30px;
    }
    .contact__form{
      font-size: 30px;
    }
    table{
      margin:0;
    }
  }
  
@media only screen and (min-width: 1024px) and (max-width:1100px){
  .virtualtable{
    font-size: 20px;
  }
  .contact__form{
    font-size: 20px;
  }
}