*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}


.nav__brand h2{
  
  position: relative;
  margin: 0;
  font-size: 3rem;
  font-weight: 600;
  color: black;
  z-index: 1;
  overflow:hidden ;
}
.nav__brand h2{
  position: relative;
  margin: 0;
  font-size: 3rem;
  font-weight: 600;
  color: white;
  z-index: 1;
  overflow: hidden;
  
}
h2::before{
  content: "";
  position: absolute;
  left: 120%;
  height: 120%;
  width: 120%;
  background: linear-gradient(90deg,transparent 0%,#162447,#162447 100%);
  animation:  animate 5.5s linear infinite;
  animation-delay: 2s;
  transition: 0.3s;
}
@keyframes animate{
  0%{
      left: -20%;
      transition: 0.3s;
  }
  50%{
    left: 120%;
  }
  100%{
      left: -20%;
      transition: 0.3s;
  }
}


.nav__brand h2 span{
  color:#ff022c;
}
ul li {
  margin-right: -80%;
}

li {
  font-size:large;
  list-style: none;
  
}
a {
  text-decoration: none;
   color: white;
  position: relative;
  padding: 0 5px;
}
.a a::after{
  content: "";
  position: absolute;
  background-color:white;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.a a:hover:after{
    
    width: 100%;
}
.a a:hover{
  
  color: crimson;
    transition: 0.5s;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  background:#162447;
  color: white;
 
  border: 1px solid silver;
}
select{
  background: rgb(0, 33, 65);
  border: none;
  color: black;
}
select:hover{
   color: black;
    transition: 0.5s;
}
.nav__brand {
  text-transform: uppercase;
  margin-left: -15%;
  font-weight: 600;
}

.nav__menu {
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler {
  display:none;
}

.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: black;
  transition: 0.3s ease-in;
}

@media screen and (width: 500px){
  
}

@media screen and (max-width: 851px) {
 
  .nav__toggler {
    display: block;
    cursor: pointer;
    
  }
  .nav__toggler .line1,.nav__toggler .line2,.nav__toggler .line3{
    background-color: white;
  }
  .nav__brand{
    text-align: center;
  }
  a{
    color: white;
  }
  ul{
    z-index: 4;
  }
  ul li {
    margin-right:20%;
  }
  .nav__menu {
    position: fixed;
    top: 12.5vh;
    right: 0;
    height: auto;
    width: 100vw;
    background: #162447;
    color: white;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    padding-bottom: 2%;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
  
}

/* Toggle Icon Animation */

.toggle .line1 {
  color: white;
  background-color: white;
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  background-color: white;
  color: white;
  opacity: 0;
}
.toggle .line3 {
  background-color: white;
  color: white;
  transform: rotate(45deg) translate(-4px, -5px);
}
@media only screen and (min-width: 912px) and (max-width:1100px){
  .nav__brand{
    margin-right: -90px;
  }
  .nav__menu{
    margin-left: -50%;
  }
}

@media only screen and (min-width: 280px) and (max-width:653px){
  .nav__brand{
    margin-left: 10px;
  }
}
